---
---
@import 'util';
@import 'colors';
@import 'fonts';

#post-list {
    list-style-type: none;
    padding: {
        left: 0px;
    }

    .post-entry {
        .post-title {
            color: $body-text;
            text-decoration: none;
            font-size: $body-size + 8;
            font-weight: bold;

        }
        .post-title:hover {
            text-decoration: underline;
        }

        .post-date {
            text-align: right;
            font-size: $body-size - 4;
        }

        .post-tags {
            text-align: left;
            font-size: $body-size - 4;
        }

        .post-see-more {
            font-style: italic;
            color: $body-text-subtle;
        }
        .post-see-more:hover {
            color: $body-text;
        }

        table {
            width: 100%;
        }

        hr {
            margin: 5px;
        }
    }
}
