---
---
@import 'util';
@import 'colors';
@import 'fonts';
@import 'mobile';


.blue {
    fill: $blue;
    background-color: $blue;
}

.orange {
    fill: $orange;
    background-color: $orange;
}

.green {
    fill: $green;
    background-color: $green;
}

.magenta {
    fill: $magenta;
    background-color: $magenta;
}

.dark-blue {
    fill: $dark-blue;
    background-color: $dark-blue;
}

.dark-orange {
    fill: $dark-orange;
    background-color: $dark-orange;
}

.dark-green {
    fill: $dark-green;
    background-color: $dark-green;
}

.dark-magenta {
    fill: $dark-magenta;
    background-color: $dark-magenta;
}


::selection {
    color: white;
    background: $orange; /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: white;
    background: $orange; /* WebKit/Blink Browsers */
}


html{
    margin: 0;
    background-color: $margin;
}

body {
    background-color: $background;
    max-width: 800px;
    z-index: 0;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 100%;


    @media screen and (min-width: $mobile-width){
        box-shadow: 0 0 4px 5px $shadow;
        -moz-box-shadow: 0 0 4px 5px $shadow;
     -webkit-box-shadow: 0 0 4px 5px $shadow;
    }
}


// HEADER


header {
    #title {
        margin:0;
        padding: 10px;
        font-family: $title-font;
        color: $title-text;
        font-weight: normal;
        font-size: 28px;

        a {
            color: inherit;
            text-decoration: none;
        }

        a:hover {
            color: inherit;
            text-decoration: underline;
        }


        .slash {
            display: inline-block;
            vertical-align: -10%;
            font: {
                size: 36px;
            }
        }
    }

}
main {
    display: flex;
}

#content {
    padding: {
        right: 20px;
        left: 20px;
    }
    flex-grow: 1;
    font-family: $body-font;
    color: $body-text;
    line-height: 1.5em;

    p {
        margin: {
            top: 0;
            bottom: 15px;
        }
    }
}


@media screen and (max-width: $mobile-width){
    header {
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: darken($background, 5%);


        border-bottom: 1px solid $subtle;
        padding: {
            top: 0;
            bottom: 0;
        }
        

        #title {
            font-size: $mobile-header-height * 0.5;
            text-align: center;
            padding: {
                top: 0;
                bottom: 5px;
            }

            #path {
                display: none;
            }

            #page {
                display: block;
            }

        }
    }

    main {
        flex-direction: column;
    }
}



footer {
    font-size: 1em;
    text-align: center;
}