---
layout: collection
title: Blog
permalink: Blog/
---

{% assign char-count = 500 %}

{% for post in site.posts %}
    <article class="post-entry">
        <a class="post-title" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
        </a>
        <table>
            <tr>
                <td class="post-tags">
                    {% include taglist.html %}
                <td  class="post-date">
                    <i>{{ post.date | date: "%b %-d, %Y" }}</i>
                </td>
            </tr>
        </table>

        <hr>

        <div class="post-excerpt">
            {% assign excerpt-text = post.content | markdownify %}
            {% assign excerpt-length = excerpt-text | number_of_words %}

            {{post.content | markdownify| truncate: char-count}}

            <a class="post-see-more" href="{{ post.url | prepend: site.baseurl }}">
                <i>See&nbsp;More</i>
            </a>
        </div>
    </article>
{% endfor %}
