{% if include.float %}
<figure class="figure-float" style="float:{{ include.float }};">
{% else %}
<figure class="figure-image">
{% endif %}

{% capture path %}/images/{{page.path | split: '/' | last | split: '.' | first }}{% endcapture %}
{% capture alt %}{{ include.caption | markdownify | strip_html }} {{ include.alt }}{% endcapture %}

{% capture src %}{{ path }}/{{ include.src }}{% endcapture %}
{% include image.html src=src alt=alt %}

{% if include.caption %}
    <figcaption>
        {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}
    </figcaption>
{% endif %}

</figure>
