{% capture title %}
    {% if page.title %}
        {{ page.title }}
    {% else %}
        Andrew Cassidy
    {% endif %}
{% endcapture %} 

{% capture description %}
    {% if page.description%}
        {{ page.description}}
    {% else %}
        {{page.content | markdownify | strip_html | truncate: 100}}
    {% endif %}
{% endcapture %} 

{% capture image %}
    {{site.url}}/images/{{page.path | split: '/' | last | split: '.' | first }}/{{page.image}}
{% endcapture %}

<title>{{title}}</title>

<meta charset=utf-8 />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Twitter cards -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" conten="@AndrewNCassidy"/>
<meta name="twitter:title" content="{{title}}"/>
<meta name="twitter:description" content="{{description}}"/>

<!-- Opengraph -->
<meta property="og:url" content="{{site.url}}{{page.url}}"/>
<meta property="og:title" content="{{title}}"/>
<meta property="og:description" content="{{description}}"/>

{% if page.image %}
    <meta name="twitter:image" content="{{image}}"/>
    <meta property="og:image" content="{{image}}"/>
{% endif %}

<link rel="stylesheet" href="/fa/css/fontawesome.min.css">
<link rel="stylesheet" href="/fa/css/brands.min.css">
<link rel="stylesheet" href="/fa/css/solid.min.css">

<link rel="stylesheet" href="/css/fnoots.css"/>
<link rel="stylesheet" href="/css/site.css"/>
<link rel="stylesheet" href="/css/sidebar.css"/>