$background: #2B2A27;
$foreground: #EDE0CE;
$margin: darken($background, 8%);
$shadow: rgba(black, 0.4);

$blue: rgb(39, 167, 167);
$orange: rgb(236, 103, 55);
$green: rgb(188, 212, 42);
$magenta: rgb(168, 66, 114);

$darken-factor: 15%;
$dark-blue: darken($blue, $darken-factor);
$dark-orange: darken($orange, $darken-factor);
$dark-green: darken($green, $darken-factor);
$dark-magenta: darken($magenta, $darken-factor);

.blue {
    fill: $blue;
    background-color: $blue;
}

.orange {
    fill: $orange;
    background-color: $orange;
}

.green {
    fill: $green;
    background-color: $green;
}

.magenta {
    fill: $magenta;
    background-color: $magenta;
}

.dark-blue {
    fill: $dark-blue;
    background-color: $dark-blue;
}

.dark-orange {
    fill: $dark-orange;
    background-color: $dark-orange;
}

.dark-green {
    fill: $dark-green;
    background-color: $dark-green;
}

.dark-magenta {
    fill: $dark-magenta;
    background-color: $dark-magenta;
}
