$background: #2B2A27;
$foreground: #EDE0CE;
$subtle: #7A7267;
$margin: darken($background, 8%);
$shadow: rgba(black, 0.4);

$orange: rgb(236, 103, 55);
$yellow: rgb(228, 214, 124);
$green: rgb(188, 212, 42);
$blue: rgb(39, 167, 167);
$magenta: rgb(168, 66, 114);

$darken-factor: 15%;
$dark-blue: darken($blue, $darken-factor);
$dark-orange: darken($orange, $darken-factor);
$dark-green: darken($green, $darken-factor);
$dark-magenta: darken($magenta, $darken-factor);

