$sidebar-text: $background;
$sidebar-font: 'Barlow', sans-serif;

$sidebar-link-text: $subtle;
$sidebar-link-hover: $foreground;

$title-text: $foreground;
$title-font: 'Barlow', sans-serif;

$body-text: $foreground;
$body-text-subtle: $subtle;
$body-font: 'Open Sans', sans-serif;
$body-size: 18px;
