<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <meta property="og:type" content="website"/>
</head>

<body>
    <div id="page">
        <header>
            <a href="/" id="name"><b>Andrew Cassidy</b></a>
            <span class="slash">/</span> {{ page.title }}
            <span class="slash">/</span>
        </header>

        <div id="box">
            {% include sidebar.html %}

            <main id="content">
                {{ content }}
            </main>
        </div>
    </div>

    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>
