<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
    <meta property="og:type" 
        content="article"/>
    <meta property="article:published_time" 
        content="{{ page.date | date_to_xmlschema }}"/>
    <meta property="article:section"
        content="Blog"/>

    {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}"/>
    {% endfor %}
</head>

<body>
    <div id="page">
        <header>
            <a href="/" id="name"><b>Andrew Cassidy</b></a>
            <span class="slash">/</span>
            <a href="/Blog" class="dir">Blog</a>
            <span class="slash">/</span>
        </header>

        <div id="box">
            {% include sidebar.html %}

            <main id="content">
                <h1 class="post-title">{{ page.title }}</h1>

                {% include post-info.html tags = page.tags date=page.date%}

                {{ content }}
            </main>
        </div>
    </div>

    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>
